.gridFormulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .gridFormulario__formulario {
    display: flex;
  }

  .registro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100vh;
    margin: 0 auto;
    background-color: $fondo;

    .formulario-registro {
      display: flex;
      flex-direction: column;
    }
  }
}